* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  color: white;
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
  z-index: 100;
}


.conteiner {
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header>.conteiner {
  padding: 0 51px 0 31px;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.menu-btn {
  display: none;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: -0.7px;
}

.logo::after {
  content: '*';
  color: #f06c64;
  font-weight: normal;
}

.menu__ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  list-style-type: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  width: 370px;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;

}

.menu-activ {
  color: #f06c64;
  transition-duration: 0.5s;
}

.menu-link::after {
  content: "";
  width: 3px;
  height: 3px;
  margin: 0 13px;
  background-color: #494e62;
}

li:last-child>.menu-link::after {
  content: "";
  width: 0;
  height: 0;
  margin: 0;
}

.slider {
  background-color: #f06c64;
  max-height: 594px;
  height: calc(100vw * 0.58);
  padding-top: 95px;
  scroll-margin-top: 96px;
  transition-duration: 1s;
  border-bottom: 6px solid #EA676B;
}


.slider-box {
  max-height: 595px;
  height: calc(100vw * 0.58);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slider-item {
  max-width: 100%;
  padding: 0 calc(100% * 0.058);
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  animation: ease-in-out 1s;
  transition-duration: 1s;
}


.slider-item.active,
.next {
  display: flex;
  width: 100%;
}

.next {
  position: absolute;
  width: 100%;
}


.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}


.slider-arrow {
  background: url(./assets/arrow-left.png) no-repeat;
  background-size: contain;
  width: 16px;
  height: 27px;
  transform: translateY(-5%);
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
}

.slider-arrow.right {
  transform: rotate(180deg) translateY(5%);
}

.phone-horiz,
.phone-vert {
  max-width: 240px;
  width: calc(100vw * 0.235);
  max-height: 483px;
  height: calc(100vw * 0.473);
  border: none;
  position: relative;
  background-image: url(./assets/phone-vert.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.phone-horiz {
  max-width: 483px;
  width: calc(100vw * 0.473);
  max-height: 240px;
  height: calc(100vw * 0.235);
  background-image: url(./assets/phone-horiz.png);
}

.pnone-btn {
  position: absolute;
  width: calc(100% * 0.166);
  height: calc(100% * 0.0828);
  left: calc(100% * 0.355);
  top: calc(100% * 0.8447);
  border-radius: 50%;
  z-index: 90;
  cursor: pointer;
}


.phone-horiz>.pnone-btn {
  height: calc(100% * 0.166);
  width: calc(100% * 0.0828);
  left: calc(100% * 0.015);
  top: calc(100% * 0.355);
}

.phone-wind-h,
.phone-wind-v {
  width: 100%;
  height: 100%;
}

.black-display-goriz,
.black-display {
  width: 80.8%;
  height: 70.1%;
  position: absolute;
  left: 4%;
  top: 13%;
  border-radius: 4px;
  background-color: black;
  box-sizing: border-box;
  visibility: unset;
  transition-duration: 1s;
}

.black-display-goriz {
  width: 70.2%;
  height: 80%;
  left: 13%;
  top: 5%;
}

.display-off {
  visibility: hidden;
}

/* 2 slid */
.phone-group {
  margin: 0 auto;
  position: relative;
  height: calc(100vw * 0.47);
  width: calc(100vw * 0.47);
  margin-bottom: 10px;
  background-image: url(./assets/phone-group.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.phone-group-wind {
  height: calc(100% * 0.68);
  width: calc(100% * 0.40625);
  position: absolute;
  left: 28%;
  top: 13%;
  border-radius: 5px;
  box-sizing: border-box;
}

.phone-group>.pnone-btn {
  width: calc(100% * 0.0828);
  height: calc(100% * 0.0828);
  left: calc(100% * 0.44);
  top: calc(100% * 0.825);
}



.services {
  scroll-margin-top: 94px;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 23px;
  border-bottom: 7px solid white;
}

.services-content {
  color: #666d89;
}

.services-title {
  font-size: 30px;
  font-weight: bolder;

  margin-bottom: 18px;
}

.common-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.15px;
  margin-bottom: 45px;
  text-align: justify
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.border-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  border-radius: 50%;
  background-size: inherit;
  box-sizing: border-box;
}

.card-content {
  width: 220px;
  margin-left: 20px;
}

.card-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bolder;
  margin-bottom: 11px;
}

.card-text {
  font-size: 12px;
  line-height: 21.5px;
  text-align: justify;
  max-height: 60px;
}

/* part 2 */

.portfolio {
  scroll-margin-top: 94px;
  color: #666d89;
  background-color: #2d303a;
  padding-top: 72px;
  border-bottom: 6px solid #323746;
  padding-bottom: 47px;
}

.section-title {
  font-size: 30px;
  line-height: 17px;
  margin-bottom: 25px;
}

.section-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.5px;
  text-align: justify;
}

.menu-filter {
  margin-top: 10px;
}

.btn-filter {
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  margin-left: 6.5px;
  border: 1px solid #666d89;
  border-radius: 5px;
  background-color: transparent;
  color: #666d89;
  outline: none;
}

.btn-filter:first-child {
  margin-left: 0;
  padding: 5px 7px;
}

.filter-activ {
  border-color: white;
  color: white;
  transition-duration: 0.5s;
}

.gallerey {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  max-height: 621px;
  overflow: hidden;
  padding: 5px;
}

.img-conteiner {
  position: relative;
  top: 0px;
  left: 0px;
  width: 23.5%;
  margin: 0;
  margin-bottom: 14px;
  transition-duration: 1s;
}

.gallerey-img {
  width: 100%;
}

.img-activ {
  outline: #F06C64 solid 5px;
}

.about-us {
  background-color: #f2f2f2;
  color: #666d89;
  padding-top: 72px;
  padding-bottom: 67px;
  border-bottom: 6px solid white;
  scroll-margin-top: 94px;
}

.workers {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.worker-card {
  width: 32%;
}

.worker-card>img {
  width: 100%;
}

.worker-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-height: 25px;
}

.worker-text {
  margin-top: 5px;
  font-size: 12px;
  line-height: 21.5px;
  white-space: normal;
  word-wrap: break-all;
  text-align: justify;
}

.social-links {
  margin-top: 23px;
  width: 154px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
}



/* part 3 */

.get-a-quote {
  scroll-margin-top: 95px;
  color: #f0d8d9;
  background-color: #f06c64;
  padding-top: 73px;
  padding-bottom: 57px;
  border-bottom: 7px solid #ea676b;
}

.get-a-quote-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.general-info {
  flex-basis: 100%;
}

.get-a-quote-title {
  font-size: 30px;
  line-height: 17.8px;
  margin-bottom: 27px;
}

.popap-text,
.get-a-quote-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin-bottom: 42px;
  text-align: justify;
}

.quote-form {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.input-text {
  height: 38px;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 21.5px;
  padding-left: 15px;
  background-color: #d6564f;
  color: #f0d8d9;
  outline: none;
}

.textarea {
  height: 150px;
  padding-top: 5px;
  margin-bottom: 18px;
  letter-spacing: -1px;

}

.input-text::-webkit-input-placeholder {
  color: #f48c8f;
}


.input-text:focus {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .3);
}

.popap-btn,
.btn-sybmit {
  text-transform: uppercase;
  color: #886A30;
  background-color: #FBC65F;
  border: none;
  border-radius: 5px;
  padding: 10px 87px 10px 50px;
  width: 80px;
  cursor: pointer;
}

.contact-info {
  width: 32%;
  padding-top: 2px;
}


.contact-info-title {
  font-size: 18px;
  line-height: 17.8px;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

.contact-info-text {
  font-size: 12px;
  line-height: 21.56px;
  margin-bottom: 25px;
  text-align: justify;
}

.contact-link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 21.6px;
  color: #f0d8d9;
}

.contanct-img {
  margin-right: 11px;
  margin-left: 2px;
}



.footer {
  width: 100%;
  background-color: #2d303a;
  height: 75px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copirate {
  margin-top: 20px;
  font-size: 12px;
  color: #666d89;
}

.popap {
  max-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  padding: 15px 40px;
  border-radius: 15px;
  background-color: #2d303a;
  border: 2px solid #323746;
  color: #f0d8d9;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  /* overflow-y: scroll; */
}

.popap>.popap-text {
  width: 100%;
  text-align: start;
  max-width: 600px;
  word-wrap: normal;
  margin-bottom: 15px;
}

/* all hover here */
@media (hover: hover) {
  .menu-link:hover {
    color: #f06c64;
    transition-duration: 0.5s;
  }

  .slider-arrow:hover {
    filter: invert(100%);
    transition-duration: 0.5s;
  }

  .btn-filter:hover {
    border-color: white;
    color: white;
    transition-duration: 0.5s;
  }

  .pnone-btn:hover {
    border: black 1px solid;
  }

  .social-link:hover>.social-img {
    filter: invert(50%) brightness(2);
    transition-duration: 0.5s;
  }

  .social-link:hover {
    background-color: #666d89;
    transition-duration: 0.5s;
  }

  .btn-sybmit:hover,
  .input-text:hover {
    background-color: #853935;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .3);
    transition-duration: 0.5s;
  }

  .contact-link:hover {
    filter: invert();
    text-decoration: underline;
    transition-duration: 0.5s;
  }

}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1019px) {

  /* heder */
  .header>.conteiner {
    padding: 0 42px 0 40px;
  }

  .menu__ul {
    margin-top: 5px;
  }

  /* slider */

  .slider>.conteiner {
    padding: 0 30px 0 30px;

  }

  .slider-item {
    padding: 0 calc(100% * 0.055);
  }


  /* servie */
  .services {
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .common-text {
    line-height: 29px;
    margin-bottom: 40px;
  }

  .card {
    margin-bottom: 55px;
  }

  .card:nth-child(2n) {
    margin-right: 35px;
  }

  /* portfolio */

  .portfolio {
    padding-bottom: 45px;
  }

  .section-text {
    letter-spacing: 0px;
  }

  .gallerey {
    max-height: calc(100vw * 1.055);
    height: calc(100vw * 1.055);
    margin-top: 25px;
  }

  .img-conteiner {
    width: 31.4%;
    margin-bottom: 16px;
  }

  /* About us */

  .about-us {
    padding-top: 65px;
    padding-bottom: 69px;
  }

  .workers {
    margin-top: 37px;
  }

  .worker-name {
    margin-top: 6px;
  }

  .worker-text {
    margin-top: 5px;
  }

  .social-links {
    margin-top: 12px;
  }

  /* quote */

  .get-a-quote {
    padding-top: 66px;
    padding-bottom: 42px;
  }

  .get-a-quote-text {
    margin-bottom: 22px;
  }

  .quote-form {
    width: 64%;
  }

  .input-text {
    margin-bottom: 12px;
    padding-left: 10px;

  }

  .contact-info-title {
    margin-bottom: 2px;
  }

  .contact-info {
    width: 32%;

  }

  .contact-info-text {
    line-height: 22px;
    margin-bottom: 11px;
  }

  .textarea {
    margin-bottom: 20px;
  }

  /* footer */
  .copirate {
    margin-top: 23px;
  }

  .footer-content>.social-links {
    margin-top: 22px;
  }

}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 767px) {

  /* heder */
  .conteiner {
    padding: 0 30px;
  }

  .header>.conteiner {
    padding: 0;
  }

  .header-content {
    justify-content: center;
    height: 65px;
    transition-duration: 1s;
  }

  .logo {
    font-size: 19.6875px;
    line-height: 24px;
    margin-left: 12px;
    transition-duration: 1s;
  }


  .logo.active {
    position: relative;
    z-index: 100;
    left: -80px;
    transition-duration: 1s;
  }

  /* menu */
  .menu-btn {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 35px;
    border: none;
    cursor: pointer;
    z-index: 200;
    transition-duration: 1s;
  }

  .menu-btn::after,
  .menu-btn::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 2px;
    background-color: #fff;
    margin-top: -9px;
    transition-duration: 1s;
  }

  .menu-btn::after {
    margin-top: 9px;
  }

  /* .menu-btn-active {
    height: 0;
  }

  .menu-btn-active::before {
    transform: rotate(45deg);
    margin-top: 0;

  }

  .menu-btn-active::after {
    transform: rotate(-45deg);
    margin-top: 0;
  } */

  /* end menu */

    .menu-btn-active {
      transform: rotate(90deg);
  }


  .menu.active {
    position: absolute;
    width: 278px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #2D303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    box-shadow: 150px 0px 0px calc(100vw - 278px) rgba(0, 0, 0, 0.4);
  }

  .menu__ul {
    display: none;
    transition-duration: 1s;
  }

  .menu.active>.menu__ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 205px;
    height: 260px;
    transition-duration: 1s;
  }

  .menu-link {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 27px;
  }

  .menu-link::after {
    display: none;
  }

  /* slider */
  .slider {
  padding-top: 70px;
  padding-bottom: 0;
  scroll-margin-top: 70px;
}

.slider>.conteiner {
  padding: 0 10px;
}

.slider-item {
  padding: 0 calc(100% * 0.045);
}

.slider-arrow {
  background: url(./assets/arrow-left.png) no-repeat;
  background-size: contain;
  width: 16px;
  height: 27px;
  transform: translateY(-5%);
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
}

  /* services */

  .services {
    padding-top: 24px;
    padding-bottom: 5px;
    scroll-margin-top: 65px;
    border: none;
  }

  .services-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .card:nth-child(2n) {
    margin-right: 10px;
  }

  .card:nth-child(n+3) {
    margin-bottom: 33px;
  }

  .card:last-child {
    margin-bottom: 15px;
  }

  .card-content {
    width: 73.33%;
  }
  /* portfolio */

  .portfolio {
    padding-top: 51px;
    padding-bottom: 25px;
    scroll-margin-top: 65px;
  }

  .section-title {
    margin-bottom: 30px;
  }
  
  .menu-filter {
    margin-top: 14px;
  }

  .gallerey {
    max-height: calc(100vw * 1.49);
    height: calc(100vw * 1.49);
    margin-top: 20px;
  }

  .img-conteiner {
    /* display: none; */
    width: calc((151 * 100%) / 315);
    margin-bottom: 15px;
  }

  /* about-us */

  .about-us {
    padding-top: 45px;
    padding-bottom: 7px;
    scroll-margin-top: 65px;
    border: none;
  }
  .about-us-content > .section-title {
    margin-bottom: 27px;
  }

  .workers {
    flex-direction: column;
    margin-top: 24px;
  }

  .worker-card {
    margin-bottom: 34px;
    width: 100%;
  }

  .worker-name {
    margin-top: 11px;
  }


  /* Quite */

  .get-a-quote {
    padding-top: 58px;
    padding-bottom: 42px;
    scroll-margin-top: 65px;
    border: none;
  }

  .get-a-quote-text {
    letter-spacing: 0px;
  }

  .quote-form {
    width: 100%;
  }

  .popap-btn,
  .btn-sybmit {
    padding-right: 25%;
    padding-left: 25%;
    width: 100%;
  }

  .contact-info {
    width: 100%;
    margin-top: 44px;
  }

  .contact-link:last-child {
    margin-top: 5px;
  }

  .footer-content {
    justify-content: center;
  }

  .copirate {
    display: none;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 374px) {

  .logo.active {
    left: -50%;
  }
  .conteiner {
    padding: 0 20px;
  }
  .services-cards {
    flex-direction: row;
  }

  .card-content {
    margin-left: 10px;
  }


  /* .black-display {
    width: 80%;
    height: 57%;
  }

  .black-display-goriz {
    height: 77%;
    width: 70%;
  }

  .pnone-btn {
    width: 12px;
    height: 12px;
    top: 150px;
    left: 32px;
  }

  .phone-horiz>.pnone-btn {
    left: 3px;
  }

  .phone-horiz {
    left: 0px;
  } */

  .slider-arrow.right {
    transform: rotate(180deg) translate(10px);
  }

  .btn-filter {
    font-size: 10px;
  }
}
  /* //////////////////////////////////////////////////////////////////////////////////////////////// */
  /* @media (max-width: 362px) {
  .pnone-btn {
    width: 12px;
    height: 12px;
    top: 135px;
    left: 28px;
  }
} */