* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.conteiner {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.get-a-quote {
  color: #f0d8d9;
  background-color: #f06c64;
  padding-top: 69px;
  padding-bottom: 19.5px;
  border-bottom: 7px solid #ea676b;
}

.get-a-quote-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.general-info {
  flex-basis: 100%;
}

.get-a-quote-title {
  font-size: 30px;
  line-height: 17.8px;
  margin-bottom: 28px;
}

.get-a-quote-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.5px;
  margin-bottom: 42px;
}

.quote-form {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.input-text {
  height: 38px;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 21.5px;
  padding-left: 15px;
  background-color: #d6564f;
  color: #f0d8d9;
  outline:none;
}

.input-text::-webkit-input-placeholder {
  color: #f48c8f;
}
.textarea {
  height: 195px;
  padding-top: 9px;
  letter-spacing: -1px;
}

.btn-sybmit:hover,
.input-text:hover {
  background-color: #853935;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,.3);
  transition-duration: 0.5s;
}

.input-text:focus {
background-color: white;
color: black;

box-shadow: 0px 0px 0px 2px rgba(0,0,0,.3);
}

.btn-sybmit {
  text-transform: uppercase;
  color: #f0d8d9;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  width: 80px;
  cursor: pointer;
}

.contact-info {
  width: 300px;
  padding-top: 2px;
}

.contact-info-title {
  font-size: 18px;
  line-height: 17.8px;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin-bottom: 12px;
}

.contact-info-text {
  font-size: 12px;
  line-height: 21.56px;
  margin-bottom: 23px;
}

.contact-link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 21.6px;
  color: #f0d8d9;
}

.contanct-img {
  margin-right: 11px;
  margin-left: 2px;
}

.contact-link:hover {
  filter: invert();
  text-decoration: underline;
  transition-duration: 0.5s;
}

.footer {
  background-color: #2d303a;
  height: 75px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copirate {
  margin-top: 20px;
  font-size: 12px;
  color: #666d89;
}


/* from part 2  */
.social-links {
  margin-top: 22px;
  width: 154px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social-link:hover>.social-img {
  filter: invert(50%) brightness(2);
  transition-duration: 0.5s;
}

.social-link:hover {
  background-color: #666d89;
  transition-duration: 0.5s;
}