* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.conteiner {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.portfolio {
  color: #666d89;
  background-color: #2d303a;
  padding-top: 71px;
  padding-bottom: 46px;
  border-bottom: 7px solid #323746;
}

.section-title {
  font-size: 30px;
  line-height: 17px;
  margin-bottom: 27px;
}

.section-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.menu-filter {
  margin-top: 10px;
}

.btn-filter {
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #666d89;
  border-radius: 5px;
  background-color: transparent;
  color: #666d89;
}

.btn-filter:first-child {
  margin-left: 0;
  padding: 5px 7px;
}

.btn-filter:hover {
  border-color: white;
  color: white;
  transition-duration: 0.5s;
}

.gallerey {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
  max-height: 621px;  
  overflow: hidden;
}

.img-conteiner{
width: 220px;
height: 190px;
margin-bottom: 17px;
}
.about-us {
  color: #666d89;
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 67px;
  border-bottom: 5px solid white;
}

.workers {
  display: flex;
  justify-content: space-between;
}

.worker-card {
  width: 300px;
  margin-top: 46px;
}

.worker-name {
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: -1px;
  margin-top: 12px;
  white-space: nowrap;
}

.worker-text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 21.5px;
}

.social-links {
  margin-top: 22px;
  width: 154px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social-link:hover>.social-img {
  filter: invert(50%) brightness(2);
  transition-duration: 0.5s;
}

.social-link:hover {
  background-color: #666d89;
  transition-duration: 0.5s;
}