* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.header {
  color: white;
}
.conteiner {
  width: 1020px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
  min-height: 90px;
}

.logo {
  text-transform: uppercase;
  margin-top: 1px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}
.menu__ul {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
  margin-right: 35px;
}
.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

li:first-child>.menu-link,
.menu-link:hover {
  color: #f06c64;
}

.menu-link::after {
  content: "";
  width: 3px;
  height: 3px;
  margin: 0 14px;
  background-color: #494e62;
}

li:last-child>.menu-link::after {
  content: "";
  width: 0;
  height: 0;
  margin: 0;
}

.slider-conteiner {
  height: 600px;
  width: 100%;
  background-color: #f06c64;
}
